
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #a7d6ce;
    }

.footerContainer{
    width: 70%;
    margin:20px;
    display: flex;
    justify-content: space-evenly;
    
}
.footerInfo{
    width: 50%;
}

.contactForm{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    background-color: #a7d6ce;
    height: 300px;
}

.contactForm input {
    background-color: #a7d6ce;
    border: none;
    border-bottom: 1px solid black;
}

.contactForm textarea {
    background-color: #a7d6ce;
    border: none;
    border-bottom: 1px solid black;
    resize: none;
}

.copyright{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
}

@media(max-width:680px){

    .footerContainer{
        width: 100%;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .footerInfo{
        width: 100%;
        padding: 10px;
    }

    .footerInfo p{
        padding: 20px;
    }

    .copyright{
        font-size: 10px;
    }
}
